<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Nlog.log">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target
      xsi:type="File"
      name="allfile"
      fileName="${basedir}/logs/demo-${date:format=yyyyMMddHH}.log"
      layout="${longdate} ${uppercase:${level}} ${message} ${exception}" archiveAboveSize="3145728"
      archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"/>
    <target
      xsi:type="ColoredConsole"
      name="console"
      layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception}"
      />
  </targets>
  <rules>
    <!-- <logger name="*" minlevel="Trace" writeTo="allfile" /> -->
    <!-- <logger name="*" minlevel="Debug" writeTo="netcore-server" /> -->
    <logger name="*" minlevel="Debug" writeto="console"/>
  </rules>
</nlog>
